<h1 mat-dialog-title>{{data}}</h1>
<div mat-dialog-content>
  <form class="post-form" (ngSubmit)="onSubmit()" [formGroup]="postForm" novalidate>
    <mat-form-field>
      <input matInput placeholder="Key" type="text" required  formControlName="key">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Value" required formControlName="value"></textarea>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary">Save</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Cancel</button>
</div>
