<div class="col-md-8 py-5 px-3 mx-auto">

  <header class="pb-3 mb-5 border-bottom">
    {{> page/logo}}
  </header>

  <div class="container">
      <div class='row'>
        <div class="col">

        </div>
        <div class="col">
          <form method='post' action='/auth/signin' id='signin_form' class='requires-validation'>

            <div class="form-outline mb-4">
              <label class="form-label" for="email">Email address</label>
              <input type="email" name="email" id='email' class="form-control" required/>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="password">Password</label>
              <input type="password" name='password' id="password" class="form-control" required/>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                  <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
              </div>

              <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
              <p>Not a member? <a href="/register">Register</a></p>
            </div>
          </form>
        </div>
        <div class="col">

        </div>
      </div>

  </div>
</div>

