
<div class='container'>
  <div fxLayout="row" fxLayoutAlign="center center" class="content">

    <mat-card>
      <mat-card-title>Register</mat-card-title>
      <mat-card-content>
        <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">

          <p *ngIf="errorMessage && (registerForm.touched || registerForm.dirty)" >
            <mat-card  class="cross-validation-error-message alert alert-danger">
              {{errorMessage}}
            </mat-card>
          </p>

          <p>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email"  type='email'>
              <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
                Email field has incorrect format
              </mat-error>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password" minlength='6' (change)="onPasswordChange()">
              <mat-error
                *ngIf="registerForm.controls['password'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="registerForm.controls['password'].hasError('minlength')">
                Min length is 6 symbols
              </mat-error>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Confirm password" formControlName="confirm_password" minlength='6' (change)="onPasswordChange()">
              <mat-error
                *ngIf="registerForm.controls['password'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="registerForm.controls['password'].hasError('minlength')">
                Min length is 6 symbols
              </mat-error>
              <mat-error
                *ngIf="registerForm.controls['confirm_password'].hasError('mismatch')">
                Password doesn't match!
              </mat-error>
            </mat-form-field>
          </p>



          <div class="button" >
            <button type="submit" mat-raised-button color="primary">Register</button>
          </div>

          <br/>
          <div class='button'>
            <a href='/login'>Login</a>
          </div>

        </form>
      </mat-card-content>
    </mat-card>

  </div>
</div>


